<h1>Welcome to play ROCK PAPER SCISSORS SPOCK LIZARD !</h1>
<h1> <%= @msg %></h1>
	<h2> What you want to throw?:</h2>
	<a href = "/throw/rock">rock |</a>
	<a href = "/throw/scissors">scissors |</a>
	<a href = "/throw/paper">paper |</a>
	<a href = "/throw/lizard">Lizard |</a>
	<a href = "/throw/spock">spock</a>